#splash {
  text-align: center;
  background-color: #053FFA;
}
#quote1,#quote3,#quote5,#quote7,#quote9 {
  background-color: #05b9fa;
}
#quote2,#quote4,#quote6,#quote8,#quote10 {
  background-color: #05FAC0;
}
.homepagelink {
  color:black;
}
.responsive {
  max-width: 100%;
  height: auto;
}
